<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body class="is-preload" style="background-color: #DAE0E6">
<div th:replace="layout/layout :: header"></div>
<div class="container" id="boardSection">
    <h1>게시판</h1>
    <div class="container" id="boardList">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>No.</th>
                <th>제목</th>
                <th>학번</th>
                <th>댓글수</th>
                <th>조회수</th>
                <th>등록일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="boardList : ${boardList}">
                <th th:text="${boardList.bno}"></th>
                <td><a href="#" th:text="${boardList.title}"></a></td>
                <td th:text="${boardList.bwriter}"></td>
                <td>0</td>
                <td th:text="${boardList.visit}"></td>
                <td th:text="${boardList.regDate}"></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
<div th:replace="layout/layout :: footer"></div>
</body>
</html>