<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body class="is-preload" style="background-color: #DAE0E6">
<div th:replace="layout/layout :: header"></div>
<div class="container" id="boardSection">
    <h1>게시판</h1>
    <div class="container" id="boardList">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>No.</th>
                <th>제목</th>
                <th>학번</th>
                <th>댓글수</th>
                <th>조회수</th>
                <th>등록일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="boardList : ${boardList}">
                <th th:text="${boardList.bno}"></th>
                <td><a th:href="@{'/board/' + ${boardList.bno}}" th:text="${boardList.title}"></a></td>
                <td th:text="${boardList.bwriter}"></td>
                <td th:text="${boardList.cnt}"></td>
                <td th:text="${boardList.visit}"></td>
                <td th:text="${boardList.regDate}"></td>
            </tr>
            </tbody>
        </table>
        <!-- paging button-->
        <div aria-label="Page navigation example" style="display: inline-block">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" th:href="@{/?page=1}" aria-label="Previous">
                        <span aria-hidden="true">처음</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/?page={page} (page = ${pagination.prevBlock})}" aria-label="Previous">
                        <span aria-hidden="true">이전</span>
                    </a>
                </li>
                <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
                    <li class="page-item"
                        th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
                        th:each="pageButton : ${#numbers.sequence(start, end)}">
                        <a class="page-link" th:href="@{/?page={page} (page = ${pageButton})}" th:text=${pageButton}></a>
                    </li>
                </th:block>
                <li class="page-item">
                    <a class="page-link" th:href="@{?page={page} (page = ${pagination.nextBlock})}" aria-label="Next">
                        <span aria-hidden="true">다음</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{?page={page} (page = ${pagination.totalPageCnt})}" aria-label="Previous">
                        <span aria-hidden="true">끝</span>
                    </a>
                </li>
            </ul>
        </div>
        <button class="btn btn-success" id="writeBoardBtn" th:unless="${session.user == null}">글쓰기</button>
    </div>
</div>
<div th:replace="layout/layout :: footer"></div>
</body>
</html>