<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body class="is-preload" style="background-color: #DAE0E6">
<div th:replace="layout/layout :: header"></div>
<div class="container">
    <div class="container" id="board">
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">제목</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                 aria-describedby="inputGroup-sizing-lg" id="title" value="test"/>
            <div class="form-control" aria-label="Sizing example input"
                 aria-describedby="inputGroup-sizing-lg" id="writer">admin</div>
            <div class="form-control" aria-label="Sizing example input"
                 aria-describedby="inputGroup-sizing-lg" id="date">0000.00.00</div>
        </div>

        <div class="input-group input-group-lg">
            <div class="form-control" aria-label="Sizing example input"
                 aria-describedby="inputGroup-sizing-lg" id="content" contenteditable="true"></div>
        </div>

        <button class="btn btn-success" id="modifyEndBtn">수정완료</button>
    </div>
</div>
<div th:replace="layout/layout :: footer"></div>
</body>
</html>