<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body class="is-preload" style="background-color: #DAE0E6">
<!--th:replace로 "상대경로 :: th:fragment로 지정한 id"-->
<div th:replace="layout/layout :: header"></div>
<div class="container" id="mainSection">
    <h1>Timeline</h1>
    <div class="feed container">
        <div class="row feedBox">
            <div class="col-1 upBox">
                <span class="row up"> ^ </span>
                <i class="far fa-thumbs-up row"> 5</i>
                <span class="row down"> v </span>
            </div>
            <div class="col-11">
                <div class="row">
                    <div class="col-12">
                        <div class="row align-items-start">
                            <div class="col-8">
                                제목
                            </div>
                            <div class="col-2 text-right">
                                닉네임
                            </div>
                            <div class="col-2 text-right">
                                2020-11-27
                            </div>
                        </div>
                        <hr>
                        <div class="row feedContent">
                            내용
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row align-items-end">
                    <div class="col-9"></div>
                    <div class="col-2 text-right info">
                        Comments <span class="info_comm">0</span>
                    </div>
                    <div class="col-1 text-right info">
                        Views <span class="info_view">0</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>