<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body class="is-preload" style="background-color: #DAE0E6">
<!--th:replace로 "상대경로 :: th:fragment로 지정한 id"-->
<div th:replace="layout/layout :: header"></div>
<div class="container" id="mainSection">
    <h1>Timeline</h1>
    <div class="feed container" th:each="boardList : ${boardList}">
        <div class="row feedBox">
            <div class="col-1 upBox">
                <i class="fas fa-chevron-up row up" th:onclick="'javascript:bup('+${boardList.bno}+')'" th:unless="${session.user} == null"></i>
                <i class="far fa-thumbs-up row colorBlue"> <span th:text="${boardList.up}" class="colorBlack" id="num"></span></i>
                <i class="fas fa-chevron-down row down" th:onclick="'javascript:bdown('+${boardList.bno}+')'" th:unless="${session.user} == null"></i>
            </div>
            <div class="col-11">
                <div class="row">
                    <div class="col-12">
                        <div class="row align-items-start">
                            <div class="col-9" th:text="${boardList.title}">

                            </div>
                            <div class="col-1 text-right writer" th:text="${boardList.bwriter}">

                            </div>
                            <div class="col-2 text-right" th:text="${#dates.format(boardList.regDate, 'yyyy-MM-dd')}">

                            </div>
                        </div>
                        <hr>
                        <div class="row feedContent" th:text="${boardList.bcontent}">

                        </div>
                    </div>
                </div>
                <hr>
                <div class="row align-items-end">
                    <div class="col-8"></div>
                    <div class="col-2 text-right info" style="padding:0;">
                        Comments <span class="info_comm" th:text="${boardList.cnt}"></span>
                    </div>
                    <div class="col-2 text-right info">
                        Views <span class="info_view" th:text="${boardList.visit}">0</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>