div#mainSection h1 {
    text-align: center;
    padding-top: 20px;
}

div.feed {
    max-width: 80%;
    padding: 30px;
}

div.feed div {
    background-color: white;
}

div.feed hr {
    padding: 0;
    margin: 0;
}

div.feed div.feedBox {
    border: 1px solid black;
    text-align: left;
}

div.feed div.feedBox div.writer {
    padding: 0;
}

div.feedContent {
    min-height: 130px;
    padding: 15px 0 15px 15px;
}

div.feed div.upBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8F9FA;
    border-right: 1px solid black;
    padding: 0;
}

div.feed div.upBox i {
    margin: 20px 0;
}

div.feed div.upBox .up,
div.feed div.upBox .down {
    cursor: pointer;
}

div.info {
    padding: 0 10px 0 0;
    margin: 0;
}