div#Log {
    text-align: center;
}

div#Log div#board,
div#Log div#comment {
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

div#Log div#comment {
    margin-bottom: 50px;
}